:root {
  --background-color: #3466AF;
  --content-color: #21386E;
  --text-color: #FFCB05;
}

.headerScore {
  display: flex;

  color: var(--text-color);
  background-color: var(--background-color);
}

.scoreboard{
  justify-self: flex-start;
  margin: 15px 15px;
}

header{
  flex: 1;
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--text-color);
}


main {
  background-color: var(--content-color);

  display: grid;
  margin: 15px;
  gap: 15px;
  
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.title {
  flex: 1;

  text-align: center;

  font-size: 3rem;
  margin: 0px;

}
