:root {
    --background-color: #3466AF;
    --content-color: #21386E;
    --text-color: #FFCB05;
  }

body {
    margin: 0px;
}

#root {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr;
    background-color: var(--content-color);
}